select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 0.75rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  }

  #param_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    background-color: burlywood;
  }

  #sequence_image_box{
    text-align: center;
  }

  #chords_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .param{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }